@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* body */
body { 
  min-width: 320px;
  color: var(--primary-text-color);
  font-size: 18px;
  font-family: Manrope;
  font-weight: 400;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  }

/* offer-slider */
.offer-slider.swiper {
  padding: 14px 0;
  color: #fff;
  background: #000;
  }

.offer-slider .swiper-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0 12px;
  font-size: 14px;
  line-height: 19px;
  opacity: 0;
  visibility: hidden;
  transition: .5s all;
  }

.offer-slider .swiper-slide-active {
  opacity: 1;
  visibility: visible;
  }

.offer-slider .swiper-slide span {
  display: block;
  }

.offer-slider__text {
  font-weight: 500;
  }

.offer-slider__discount {
  font-weight: 700;
  text-transform: uppercase;
  }

.offer-slider__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  }

.offer-slider__link:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -2px;
  background: #fff;
  content: "";
  transition: .3s opacity;
  }

.offer-slider__link:hover:after {
  opacity: 0;
  }

/* 580 */
@media (max-width: 580px) {

.offer-slider .swiper-slide {
  gap: 0 8px;
  font-size: 12px;
  line-height: 18px;
  }

}

/* 360 */
@media (max-width: 360px) {

.offer-slider .swiper-slide {
  gap: 0 5px;
  font-size: 10px;
  }

}